
.loginComponent {
  .loginStyle {
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    margin-left: -380px;
    top: 17vh;
    z-index: 99;
    display: flex;


    .lPart {
      height: 500px;
      width: 380px;
      background-size: cover;
    }

    .rPart {
      height: 500px;
      width: 380px;
      background-color: #fff;
      padding-top: 80px;

      h2 {
        width: 280px;
        margin: 0 auto 30px;
        font-size: 30px;
      }

      .formWrap {
        width: 280px;
        margin: 0 auto;

        button {
          width: 100%;
        }
      }
    }
  }
  .logo {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}


